In [1]:
a = 10
b = "test"

print(a)
print(b)

print(type(a))
print(type(b))

10
test
<class 'int'>
<class 'str'>

In [2]:
c = "10"

print(c)
print(type(c))

10
<class 'str'>

In [3]:
x = 7
y = 3
print(x+y, x-y, x*y, x/y, x//y, x%y, x**y)

10 4 21 2.3333333333333335 2 1 343

In [4]:
x = 7
y = 3

print(x == y) #False
print(x != y) #True
print(x > y) #True
print(x < y) #False
print(x >= y) #True
print(x <= y) #False

False
True
True
False
True
False

In [5]:
print(True and True)
print(True and False)
print(False and False)

True
False
False

In [6]:
print(True or True)
print(True or False)
print(False or False)

True
True
False

조건문

In [9]:
a = 5

# a가 10보다 작은 경우에는 첫번째 print를 실행
# a가 10보다 큰 경우에는 첫번째 print를 실행하지 않는다.
if a < 10:
    print("a는 10보다 작다.")

print("프로그램 종료")

a는 10보다 작다.
프로그램 종료

In [10]:
a = 15

# a가 10보다 작은 경우에는 첫번째 print를 실행
# a가 10보다 큰 경우에는 첫번째 print를 실행하지 않는다.
if a < 10:
    print("a는 10보다 작다.")

else:
    print("a는 10보다 크거나 같다")

print("프로그램 종료")

a는 10보다 크거나 같다
프로그램 종료

In [13]:
score = int(input("점수를 입력하시오"))

if score >= 90:
    print('A')
elif score >= 80:
    print("B")
elif score >= 70:
    print("C")
else:
    print("F")

print("프로그램 종료")

ValueError: invalid literal for int() with base 10: 'a'

In [1]:
print(list(range(1,11,1)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
result = 0 # 반드시 해야함 없으면 result가 define 되지 않았다고 에러 뜸
for i in range(2, 51, 2):
    result = result + i # result += i 같음
print(result)

650

In [10]:
result = 0 # 반드시 해야함 없으면 result가 define 되지 않았다고 에러 뜸
for i in range(2, 51, 1):
    if i%2 == 0:
        result = result + i # result += i 같음
print(result)

650

In [15]:
for i in range(1, 7, 1):
    for j in range(1, 7, 1):
        if (i+j) % 5 == 0:
            print(i, j, i+j)

1 4 5
2 3 5
3 2 5
4 1 5
4 6 10
5 5 10
6 4 10

페르마의 마지막 정리 증명
a**n + b**n = c**n 이 수식에서 n의 값이 2보다 큰 자연수이면 a, b, c의 자연수의 값은 존재하지 않는다.

n의 값이 3인 경우 a, b, c가 1부터 10까지 이 정리가 사실임을 증명하시오.
다중 for문과 if문을 사용

In [24]:
n =3

for a in range(1,11,1):
    for b in range(1,11,1):
        for c in range(1,11,1): 
            if a**n + b**n == c**n:
                print("False")

while문

In [25]:
i = 0

while i < 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

In [26]:
i = 1
result = 0
while i < 11:
    result += i
    i += 1
print(result)

55

In [28]:
i = 0
while i < 11:
    if i == 7:
        break
    print(i)
    i += 1

0
1
2
3
4
5
6

In [32]:
# 1부터 1000까지의 합을 구하는데 합계가 900이 넘어가는 최초의 숫자는 무엇인가?
sumv = 0
for i in range(1, 1001, 1):
    sumv += i
    if sumv > 900:
        break

print(i)

42

In [45]:
sumvv = 0
i = 1
while i < 1001:
    sumvv += i
    if sumvv > 900:
        break
    i = i + 1

print(i)
print(sumvv)

42
903

In [47]:
a = (1, "hello", 20, 30)
print(a[1])
print(a[1:])

hello
('hello', 20, 30)

In [11]:
dict = {"name" : "test", "age" : 20, "phone" : "01012345678"}
print(dict["name"])

test

In [12]:
dict['area'] = 'seoul'

print(dict)

{'name': 'test', 'age': 20, 'phone': '01012345678', 'area': 'seoul'}

In [13]:
dict['age'] = 30

print(dict)

{'name': 'test', 'age': 30, 'phone': '01012345678', 'area': 'seoul'}

In [14]:
del dict['phone']

print(dict)

{'name': 'test', 'age': 30, 'area': 'seoul'}

In [15]:
test_data = [
    {
        "name": "test",
        "age": 20
    },
    {
        "name": "test2",
        "age": 30
    },
    {
        "name": "test3",
        "age": 25
    }
]

In [16]:
print(len(test_data))

3

In [18]:
print(test_data[1]["name"])

test2

In [25]:
# test_data 에서 연령대가 20대인 사람의 이름을 리스트로 출력하시오
# 1. 비어있는 리스트를 생성
# 2. test_data의 항목들을 반복문을 통해서 출력
# 3. 각 항목들의 나이를 출력
# 4. 조건을 생성하여 연령대가 20대인 항목을 출력
# 5. 20대인 항목에서 이름의 값만 출력
# 6. 해당하는 이름들을 리스트에 추가

# test_data = [
#     {
#         "name": "test",
#         "age": 20
#     },
#     {
#         "name": "test2",
#         "age": 30
#     },
#     {
#         "name": "test3",
#         "age": 25
#     }
# ]

x = []
for i in test_data:
    if i["age"] < 30 and i["age"] >= 20:
        x.append(i["name"])

print(x)

['test', 'test3']

In [49]:
a.items()

dict_items([('name', 'test'), ('age', 20), ('phone', '01012345678')])

In [52]:
a = [20, 10, 40, 30]
b = [10, 70, 30, 40]

a.sort()
b.reverse()

print(a)
print(b)

[10, 20, 30, 40]
[40, 30, 70, 10]

In [53]:
c = ["a", "c", "b", "d"]
c.sort()

print(c)

['a', 'b', 'c', 'd']

In [55]:
y = [30, 20, 80, 10]
for i in y:
    print(i)

# 또는 
# for i in range(0, len(y), 1):
#     print(y[i])

30
20
80
10
30
20
80
10

In [2]:
# 1부터 70까지 숫자들 중에 3의 배수를 리스트의 형태로 만들어서 출력
x = []
for i in range(1, 71, 1):
    if i%3 ==0:
        x.append(i)

print(x)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69]

In [5]:
i = 1
x = []
while i < 71:
    if i%3 ==0:
        x.append(i)
    i += 1

print(x)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69]