In [6]:
pip install yfinance

Collecting yfinanceNote: you may need to restart the kernel to use updated packages.

  Downloading yfinance-0.2.14-py2.py3-none-any.whl (59 kB)
     ---------------------------------------- 59.7/59.7 kB 3.1 MB/s eta 0:00:00
Collecting lxml>=4.9.1
  Downloading lxml-4.9.2-cp37-cp37m-win_amd64.whl (3.8 MB)
     ---------------------------------------- 3.8/3.8 MB 7.9 MB/s eta 0:00:00
Collecting frozendict>=2.3.4
  Downloading frozendict-2.3.6-cp37-cp37m-win_amd64.whl (34 kB)
Collecting html5lib>=1.1
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
     -------------------------------------- 112.2/112.2 kB 3.2 MB/s eta 0:00:00
Requirement already satisfied: pytz>=2022.5 in c:\python 3.7.1\lib\site-packages (from yfinance) (2023.3)
Collecting requests>=2.26
  Downloading requests-2.28.2-py3-none-any.whl (62 kB)
     ---------------------------------------- 62.8/62.8 kB 1.7 MB/s eta 0:00:00
Collecting appdirs>=1.4.4
  Downloading appdirs-1.4.4-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied: pandas>=1.3.0 in c:\python 3.7.1\lib\site-packages (from yfinance) (1.3.5)
Requirement already satisfied: numpy>=1.16.5 in c:\python 3.7.1\lib\site-packages (from yfinance) (1.21.6)
Collecting beautifulsoup4>=4.11.1
  Downloading beautifulsoup4-4.12.1-py3-none-any.whl (142 kB)
     -------------------------------------- 142.5/142.5 kB 4.3 MB/s eta 0:00:00
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Collecting cryptography>=3.3.2
  Downloading cryptography-40.0.1-cp36-abi3-win_amd64.whl (2.6 MB)
     ---------------------------------------- 2.6/2.6 MB 7.9 MB/s eta 0:00:00
Collecting soupsieve>1.2
  Downloading soupsieve-2.4-py3-none-any.whl (37 kB)
Collecting cffi>=1.12
  Downloading cffi-1.15.1-cp37-cp37m-win_amd64.whl (179 kB)
     -------------------------------------- 179.3/179.3 kB 5.5 MB/s eta 0:00:00
Requirement already satisfied: six>=1.9 in c:\python 3.7.1\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Collecting webencodings
  Downloading webencodings-0.5.1-py2.py3-none-any.whl (11 kB)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\python 3.7.1\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Collecting urllib3<1.27,>=1.21.1
  Downloading urllib3-1.26.15-py2.py3-none-any.whl (140 kB)
     -------------------------------------- 140.9/140.9 kB 4.2 MB/s eta 0:00:00
Collecting idna<4,>=2.5
  Downloading idna-3.4-py3-none-any.whl (61 kB)
     ---------------------------------------- 61.5/61.5 kB 3.2 MB/s eta 0:00:00
Collecting certifi>=2017.4.17
  Downloading certifi-2022.12.7-py3-none-any.whl (155 kB)
     -------------------------------------- 155.3/155.3 kB 4.7 MB/s eta 0:00:00
Collecting charset-normalizer<4,>=2
  Downloading charset_normalizer-3.1.0-cp37-cp37m-win_amd64.whl (94 kB)
     ---------------------------------------- 94.6/94.6 kB 5.3 MB/s eta 0:00:00
Collecting pycparser
  Downloading pycparser-2.21-py2.py3-none-any.whl (118 kB)
     -------------------------------------- 118.7/118.7 kB 7.2 MB/s eta 0:00:00
Installing collected packages: webencodings, multitasking, appdirs, urllib3, soupsieve, pycparser, lxml, idna, html5lib, frozendict, charset-normalizer, certifi, requests, cffi, beautifulsoup4, cryptography, yfinance
Successfully installed appdirs-1.4.4 beautifulsoup4-4.12.1 certifi-2022.12.7 cffi-1.15.1 charset-normalizer-3.1.0 cryptography-40.0.1 frozendict-2.3.6 html5lib-1.1 idna-3.4 lxml-4.9.2 multitasking-0.0.11 pycparser-2.21 requests-2.28.2 soupsieve-2.4 urllib3-1.26.15 webencodings-0.5.1 yfinance-0.2.14

In [7]:
import yfinance as yf

# yfinance 데이터 불러오기
stock_price = yf.download({'005930.KS','^KS11'}, '2019-01-01', '2022-01-01', period='1d') #^KS11: 코스피
stock_price

[*********************100%***********************]  2 of 2 completed

               Adj Close                  Close                   High  \
               005930.KS        ^KS11 005930.KS        ^KS11 005930.KS
Date
2019-01-02  34482.316406  2010.000000   38750.0  2010.000000   39400.0
2019-01-03  33458.968750  1993.699951   37600.0  1993.699951   38550.0
2019-01-04  33325.484375  2010.250000   37450.0  2010.250000   37600.0
2019-01-07  34482.316406  2037.099976   38750.0  2037.099976   38900.0
2019-01-08  33903.898438  2025.270020   38100.0  2025.270020   39200.0
...                  ...          ...       ...          ...       ...
2021-12-24  78211.703125  3012.429932   80500.0  3012.429932   80800.0
2021-12-27  77920.234375  2999.550049   80200.0  2999.550049   80600.0
2021-12-28  78017.390625  3020.239990   80300.0  3020.239990   80400.0
2021-12-29  76905.765625  2993.290039   78800.0  2993.290039   80200.0
2021-12-30  76417.789062  2977.649902   78300.0  2977.649902   79500.0

                              Low                   Open               \
                  ^KS11 005930.KS        ^KS11 005930.KS        ^KS11
Date
2019-01-02  2053.449951   38550.0  2004.270020   39400.0  2050.550049
2019-01-03  2014.719971   37450.0  1991.650024   38300.0  2011.810059
2019-01-04  2011.560059   36850.0  1984.530029   37450.0  1992.400024
2019-01-07  2048.060059   37800.0  2030.900024   38000.0  2034.239990
2019-01-08  2042.699951   37950.0  2023.589966   38000.0  2038.680054
...                 ...       ...          ...       ...          ...
2021-12-24  3025.770020   80200.0  3009.479980   80200.0  3009.479980
2021-12-27  3017.310059   79800.0  2999.300049   80600.0  3013.939941
2021-12-28  3020.290039   79700.0  2991.550049   80200.0  3006.770020
2021-12-29  3007.719971   78500.0  2988.669922   80200.0  3002.899902
2021-12-30  3005.360107   78100.0  2975.739990   78900.0  2999.750000

              Volume
           005930.KS   ^KS11
Date
2019-01-02   7847664  326400
2019-01-03  12471493  428000
2019-01-04  14108958  409000
2019-01-07  12748997  440200
2019-01-08  12756554  397800
...              ...     ...
2021-12-24  12086380  537500
2021-12-27  10783368  475000
2021-12-28  18226325  607000
2021-12-29  19794795  545800
2021-12-30  14236700  460600

[742 rows x 12 columns]

In [10]:
stock_price.reset_index() #원래 date가 인덱스. 그대로 하기

          Date     Adj Close                  Close                   High  \
                   005930.KS        ^KS11 005930.KS        ^KS11 005930.KS
0   2019-01-02  34482.316406  2010.000000   38750.0  2010.000000   39400.0
1   2019-01-03  33458.968750  1993.699951   37600.0  1993.699951   38550.0
2   2019-01-04  33325.484375  2010.250000   37450.0  2010.250000   37600.0
3   2019-01-07  34482.316406  2037.099976   38750.0  2037.099976   38900.0
4   2019-01-08  33903.898438  2025.270020   38100.0  2025.270020   39200.0
..         ...           ...          ...       ...          ...       ...
737 2021-12-24  78211.703125  3012.429932   80500.0  3012.429932   80800.0
738 2021-12-27  77920.234375  2999.550049   80200.0  2999.550049   80600.0
739 2021-12-28  78017.390625  3020.239990   80300.0  3020.239990   80400.0
740 2021-12-29  76905.765625  2993.290039   78800.0  2993.290039   80200.0
741 2021-12-30  76417.789062  2977.649902   78300.0  2977.649902   79500.0

                       Low                   Open                 Volume  \
           ^KS11 005930.KS        ^KS11 005930.KS        ^KS11 005930.KS
0    2053.449951   38550.0  2004.270020   39400.0  2050.550049   7847664
1    2014.719971   37450.0  1991.650024   38300.0  2011.810059  12471493
2    2011.560059   36850.0  1984.530029   37450.0  1992.400024  14108958
3    2048.060059   37800.0  2030.900024   38000.0  2034.239990  12748997
4    2042.699951   37950.0  2023.589966   38000.0  2038.680054  12756554
..           ...       ...          ...       ...          ...       ...
737  3025.770020   80200.0  3009.479980   80200.0  3009.479980  12086380
738  3017.310059   79800.0  2999.300049   80600.0  3013.939941  10783368
739  3020.290039   79700.0  2991.550049   80200.0  3006.770020  18226325
740  3007.719971   78500.0  2988.669922   80200.0  3002.899902  19794795
741  3005.360107   78100.0  2975.739990   78900.0  2999.750000  14236700


      ^KS11
0    326400
1    428000
2    409000
3    440200
4    397800
..      ...
737  537500
738  475000
739  607000
740  545800
741  460600

[742 rows x 13 columns]

In [11]:
stock_price

               Adj Close                  Close                   High  \
               005930.KS        ^KS11 005930.KS        ^KS11 005930.KS
Date
2019-01-02  34482.316406  2010.000000   38750.0  2010.000000   39400.0
2019-01-03  33458.968750  1993.699951   37600.0  1993.699951   38550.0
2019-01-04  33325.484375  2010.250000   37450.0  2010.250000   37600.0
2019-01-07  34482.316406  2037.099976   38750.0  2037.099976   38900.0
2019-01-08  33903.898438  2025.270020   38100.0  2025.270020   39200.0
...                  ...          ...       ...          ...       ...
2021-12-24  78211.703125  3012.429932   80500.0  3012.429932   80800.0
2021-12-27  77920.234375  2999.550049   80200.0  2999.550049   80600.0
2021-12-28  78017.390625  3020.239990   80300.0  3020.239990   80400.0
2021-12-29  76905.765625  2993.290039   78800.0  2993.290039   80200.0
2021-12-30  76417.789062  2977.649902   78300.0  2977.649902   79500.0

                              Low                   Open               \
                  ^KS11 005930.KS        ^KS11 005930.KS        ^KS11
Date
2019-01-02  2053.449951   38550.0  2004.270020   39400.0  2050.550049
2019-01-03  2014.719971   37450.0  1991.650024   38300.0  2011.810059
2019-01-04  2011.560059   36850.0  1984.530029   37450.0  1992.400024
2019-01-07  2048.060059   37800.0  2030.900024   38000.0  2034.239990
2019-01-08  2042.699951   37950.0  2023.589966   38000.0  2038.680054
...                 ...       ...          ...       ...          ...
2021-12-24  3025.770020   80200.0  3009.479980   80200.0  3009.479980
2021-12-27  3017.310059   79800.0  2999.300049   80600.0  3013.939941
2021-12-28  3020.290039   79700.0  2991.550049   80200.0  3006.770020
2021-12-29  3007.719971   78500.0  2988.669922   80200.0  3002.899902
2021-12-30  3005.360107   78100.0  2975.739990   78900.0  2999.750000

              Volume
           005930.KS   ^KS11
Date
2019-01-02   7847664  326400
2019-01-03  12471493  428000
2019-01-04  14108958  409000
2019-01-07  12748997  440200
2019-01-08  12756554  397800
...              ...     ...
2021-12-24  12086380  537500
2021-12-27  10783368  475000
2021-12-28  18226325  607000
2021-12-29  19794795  545800
2021-12-30  14236700  460600

[742 rows x 12 columns]