In [1]:
#pip install yfinance

In [2]:
import yfinance as yf

# yfinance 데이터 불러오기
stock_price = yf.download({'005930.KS','^KS11'}, '2019-01-01', '2022-01-01', period='1d') #^KS11: 코스피
#1년치 데이터
stock_price

[*********************100%***********************]  2 of 2 completed

               Adj Close                  Close                   High  \
               005930.KS        ^KS11 005930.KS        ^KS11 005930.KS
Date
2019-01-02  34482.308594  2010.000000   38750.0  2010.000000   39400.0
2019-01-03  33458.960938  1993.699951   37600.0  1993.699951   38550.0
2019-01-04  33325.484375  2010.250000   37450.0  2010.250000   37600.0
2019-01-07  34482.308594  2037.099976   38750.0  2037.099976   38900.0
2019-01-08  33903.906250  2025.270020   38100.0  2025.270020   39200.0
...                  ...          ...       ...          ...       ...
2021-12-24  78211.703125  3012.429932   80500.0  3012.429932   80800.0
2021-12-27  77920.242188  2999.550049   80200.0  2999.550049   80600.0
2021-12-28  78017.390625  3020.239990   80300.0  3020.239990   80400.0
2021-12-29  76905.765625  2993.290039   78800.0  2993.290039   80200.0
2021-12-30  76417.789062  2977.649902   78300.0  2977.649902   79500.0

                              Low                   Open               \
                  ^KS11 005930.KS        ^KS11 005930.KS        ^KS11
Date
2019-01-02  2053.449951   38550.0  2004.270020   39400.0  2050.550049
2019-01-03  2014.719971   37450.0  1991.650024   38300.0  2011.810059
2019-01-04  2011.560059   36850.0  1984.530029   37450.0  1992.400024
2019-01-07  2048.060059   37800.0  2030.900024   38000.0  2034.239990
2019-01-08  2042.699951   37950.0  2023.589966   38000.0  2038.680054
...                 ...       ...          ...       ...          ...
2021-12-24  3025.770020   80200.0  3009.479980   80200.0  3009.479980
2021-12-27  3017.310059   79800.0  2999.300049   80600.0  3013.939941
2021-12-28  3020.290039   79700.0  2991.550049   80200.0  3006.770020
2021-12-29  3007.719971   78500.0  2988.669922   80200.0  3002.899902
2021-12-30  3005.360107   78100.0  2975.739990   78900.0  2999.750000

              Volume
           005930.KS   ^KS11
Date
2019-01-02   7847664  326400
2019-01-03  12471493  428000
2019-01-04  14108958  409000
2019-01-07  12748997  440200
2019-01-08  12756554  397800
...              ...     ...
2021-12-24  12086380  537500
2021-12-27  10783368  475000
2021-12-28  18226325  607000
2021-12-29  19794795  545800
2021-12-30  14236700  460600

[742 rows x 12 columns]

In [3]:
stock_price1 = stock_price.reset_index() #원래 date가 인덱스. 그대로 하기

In [4]:
stock_price1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 742 entries, 0 to 741
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   (Date, )                742 non-null    datetime64[ns]
 1   (Adj Close, 005930.KS)  742 non-null    float64
 2   (Adj Close, ^KS11)      742 non-null    float64
 3   (Close, 005930.KS)      742 non-null    float64
 4   (Close, ^KS11)          742 non-null    float64
 5   (High, 005930.KS)       742 non-null    float64
 6   (High, ^KS11)           742 non-null    float64
 7   (Low, 005930.KS)        742 non-null    float64
 8   (Low, ^KS11)            742 non-null    float64
 9   (Open, 005930.KS)       742 non-null    float64
 10  (Open, ^KS11)           742 non-null    float64
 11  (Volume, 005930.KS)     742 non-null    int64
 12  (Volume, ^KS11)         742 non-null    int64
dtypes: datetime64[ns](1), float64(10), int64(2)
memory usage: 75.5 KB

In [5]:
start_date2 = stock_price1['Date'].astype(str).iloc[0]
end_date2 = stock_price1['Date'].astype(str).iloc[-1]

import pandas as pd
pd.date_range(start_date2, end_date2, freq='B') #str -> Datetime, freq='B': 비즈니스 데이(공유일을 제외한
# 평일로 날짜 생성)
#pd.date_range(start_date2, end_date2, freq='B').to_frame() #인덱스까지 같이 나온다.
#pd.DataFrame(pd.date_range(start_date2, end_date2, freq='B').to_frame())
# 와 같다.

# 날짜 처음과 끝에서 영업일 기준 freq 적용 후 데이터 프레임 형성
date_all2 = pd.date_range(start_date2, end_date2, freq='B').to_frame().rename(columns={0:'Date'}).reset_index(drop=True)
date_all2


# 그냥.. 인덱스를 그냥 컬럼(시계열 데이터)으로 만드는 과정?

          Date
0   2019-01-02
1   2019-01-03
2   2019-01-04
3   2019-01-07
4   2019-01-08
..         ...
777 2021-12-24
778 2021-12-27
779 2021-12-28
780 2021-12-29
781 2021-12-30

[782 rows x 1 columns]

In [6]:
date_all2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 782 entries, 0 to 781
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    782 non-null    datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 6.2 KB

In [8]:
stock_price

               Adj Close                  Close                   High  \
               005930.KS        ^KS11 005930.KS        ^KS11 005930.KS
Date
2019-01-02  34482.308594  2010.000000   38750.0  2010.000000   39400.0
2019-01-03  33458.960938  1993.699951   37600.0  1993.699951   38550.0
2019-01-04  33325.484375  2010.250000   37450.0  2010.250000   37600.0
2019-01-07  34482.308594  2037.099976   38750.0  2037.099976   38900.0
2019-01-08  33903.906250  2025.270020   38100.0  2025.270020   39200.0
...                  ...          ...       ...          ...       ...
2021-12-24  78211.703125  3012.429932   80500.0  3012.429932   80800.0
2021-12-27  77920.242188  2999.550049   80200.0  2999.550049   80600.0
2021-12-28  78017.390625  3020.239990   80300.0  3020.239990   80400.0
2021-12-29  76905.765625  2993.290039   78800.0  2993.290039   80200.0
2021-12-30  76417.789062  2977.649902   78300.0  2977.649902   79500.0

                              Low                   Open               \
                  ^KS11 005930.KS        ^KS11 005930.KS        ^KS11
Date
2019-01-02  2053.449951   38550.0  2004.270020   39400.0  2050.550049
2019-01-03  2014.719971   37450.0  1991.650024   38300.0  2011.810059
2019-01-04  2011.560059   36850.0  1984.530029   37450.0  1992.400024
2019-01-07  2048.060059   37800.0  2030.900024   38000.0  2034.239990
2019-01-08  2042.699951   37950.0  2023.589966   38000.0  2038.680054
...                 ...       ...          ...       ...          ...
2021-12-24  3025.770020   80200.0  3009.479980   80200.0  3009.479980
2021-12-27  3017.310059   79800.0  2999.300049   80600.0  3013.939941
2021-12-28  3020.290039   79700.0  2991.550049   80200.0  3006.770020
2021-12-29  3007.719971   78500.0  2988.669922   80200.0  3002.899902
2021-12-30  3005.360107   78100.0  2975.739990   78900.0  2999.750000

              Volume
           005930.KS   ^KS11
Date
2019-01-02   7847664  326400
2019-01-03  12471493  428000
2019-01-04  14108958  409000
2019-01-07  12748997  440200
2019-01-08  12756554  397800
...              ...     ...
2021-12-24  12086380  537500
2021-12-27  10783368  475000
2021-12-28  18226325  607000
2021-12-29  19794795  545800
2021-12-30  14236700  460600

[742 rows x 12 columns]

In [7]:
stock_price.pct_change() #(현재행-이전행) / 이전행

           Adj Close               Close                High            \
           005930.KS     ^KS11 005930.KS     ^KS11 005930.KS     ^KS11
Date
2019-01-02       NaN       NaN       NaN       NaN       NaN       NaN
2019-01-03 -0.029677 -0.008109 -0.029677 -0.008109 -0.021574 -0.018861
2019-01-04 -0.003989  0.008301 -0.003989  0.008301 -0.024643 -0.001568
2019-01-07  0.034713  0.013357  0.034713  0.013357  0.034574  0.018145
2019-01-08 -0.016774 -0.005807 -0.016774 -0.005807  0.007712 -0.002617
...              ...       ...       ...       ...       ...       ...
2021-12-24  0.007509  0.004756  0.007509  0.004756  0.010000  0.008355
2021-12-27 -0.003727 -0.004276 -0.003727 -0.004276 -0.002475 -0.002796
2021-12-28  0.001247  0.006898  0.001247  0.006898 -0.002481  0.000988
2021-12-29 -0.014248 -0.008923 -0.018680 -0.008923 -0.002488 -0.004162
2021-12-30 -0.006345 -0.005225 -0.006345 -0.005225 -0.008728 -0.000785

                 Low                Open              Volume
           005930.KS     ^KS11 005930.KS     ^KS11 005930.KS     ^KS11
Date
2019-01-02       NaN       NaN       NaN       NaN       NaN       NaN
2019-01-03 -0.028534 -0.006297 -0.027919 -0.018892  0.589198  0.311275
2019-01-04 -0.016021 -0.003575 -0.022193 -0.009648  0.131297 -0.044393
2019-01-07  0.025780  0.023366  0.014686  0.021000 -0.096390  0.076284
2019-01-08  0.003968 -0.003599  0.000000  0.002183  0.000593 -0.096320
...              ...       ...       ...       ...       ...       ...
2021-12-24  0.011349  0.009584  0.005013  0.003823 -0.109823  0.112146
2021-12-27 -0.004988 -0.003383  0.004988  0.001482 -0.107808 -0.116279
2021-12-28 -0.001253 -0.002584 -0.004963 -0.002379  0.690226  0.277895
2021-12-29 -0.015056 -0.000963  0.000000 -0.001287  0.086055 -0.100824
2021-12-30 -0.005096 -0.004326 -0.016209 -0.001049 -0.280786 -0.156101

[742 rows x 12 columns]

In [9]:
stock_price.pct_change().isna().sum() #첫번째 행

Adj Close  005930.KS    1
           ^KS11        1
Close      005930.KS    1
           ^KS11        1
High       005930.KS    1
           ^KS11        1
Low        005930.KS    1
           ^KS11        1
Open       005930.KS    1
           ^KS11        1
Volume     005930.KS    1
           ^KS11        1
dtype: int64

In [11]:
type(stock_price.pct_change().dropna())

pandas.core.frame.DataFrame

In [ ]:
# 전일대비 수익률 도출 (pct_change 사용, %로 표현하기 위해 100을 곱해준다)
stock_price = stock_price.pct_change().dropna()
#stock_price = pd.DataFrame(stock_price) #이미 데이터프레임이다..
stock_price