In [1]:
import pandas as pd

In [2]:
pd.read_csv("../corona.csv")

,Unnamed: 0,createDt,deathCnt,decideCnt,seq,stateDt,stateTime,updateDt,accExamCnt,accDefRate
0,0,2023-04-07 00:16:52.0,34318,30894559,1218,20230407,00:00,NaN,NaN,NaN
1,1,2023-04-05 02:12:00.0,34296,30871740,1216,20230405,00:00,NaN,NaN,NaN
2,2,2023-04-04 05:10:20.0,34289,30857275,1215,20230404,00:00,NaN,NaN,NaN
3,3,2023-04-03 00:00:13.0,34281,30843900,1214,20230403,00:00,2023-04-03 04:18:40.0,NaN,NaN
4,4,2023-04-02 22:59:44.0,34274,30839551,1213,20230402,00:00,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1157,1157,2020-01-24 00:00:00.000,0,2,5,20200124,00:00,2021-10-07 10:30:51.51,29.0,6.896552
1158,1158,2020-01-23 09:00:00.000,0,1,4,20200123,09:00,2021-10-07 10:30:51.51,25.0,4.000000
1159,1159,2020-01-22 12:00:00.000,0,1,3,20200122,12:00,2021-10-07 10:30:51.51,21.0,4.761905
1160,1160,2020-01-21 09:00:00.000,0,1,2,20200121,09:00,2021-10-07 10:30:51.51,15.0,6.666667
1161,1161,2020-01-20 17:00:00.000,0,1,1,20200120,17:00,2021-10-07 10:30:51.51,4.0,25.000000