In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\python 3.7.1\lib\site-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in c:\python 3.7.1\lib\site-packages (from pandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\python 3.7.1\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\python 3.7.1\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\python 3.7.1\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [2]:
import pandas as pd

In [3]:
pd_list = pd.Series([5000, 6000, 6500, 6500],
 index=['아메리카노', '카페라떼', '카페모카', '카푸치노']) #클래스

In [4]:
print(pd_list)

아메리카노    5000
카페라떼     6000
카페모카     6500
카푸치노     6500
dtype: int64

In [5]:
print('스리즈 형태의 데이터에서 index의 값은: ' , pd_list.index)
print('스리즈 형태의 데이터에서 value의 값은: ' , pd_list.values)

스리즈 형태의 데이터에서 index의 값은:  Index(['아메리카노', '카페라떼', '카페모카', '카푸치노'], dtype='object')
스리즈 형태의 데이터에서 value의 값은:  [5000 6000 6500 6500]

In [8]:
_value = [[1,2,3], [4,5,6], [7,8,9]]
_index = ['a', 'b', 'c']
_column = ['A', 'B', 'C']

df = pd.DataFrame(_value, index = _index, columns = _column)

In [9]:
df

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

In [11]:
print("데이터프레임의 인덱스의 값", df.index)
print("데이터프레임의 컬럼의 값", df.columns)
print("데이터프레임에서 벨류이 값", df.values)

데이터프레임의 인덱스의 값 Index(['a', 'b', 'c'], dtype='object')
데이터프레임의 컬럼의 값 Index(['A', 'B', 'C'], dtype='object')
데이터프레임에서 벨류이 값 [[1 2 3]
 [4 5 6]
 [7 8 9]]

In [12]:
#####################################################################################################################
# 딕셔너리 형태의 데이터를 가지고 dataframe 생성
_value = {
    "name": ["test", "test2", "test3"],
    "age": [20, 30, 25],
    "phone": ["01012345678", "01098765432", "01011112222"]
}

print(_value)

{'name': ['test', 'test2', 'test3'], 'age': [20, 30, 25], 'phone': ['01012345678', '01098765432', '01011112222']}

In [13]:
df2 = pd.DataFrame(_value)
df2 #key는 columns로, index는 0,1,2순

    name  age        phone
0   test   20  01012345678
1  test2   30  01098765432
2  test3   25  01011112222

In [14]:
df2['name'] #스리즈 형태

0     test
1    test2
2    test3
Name: name, dtype: object

In [15]:
df2.name #컬럼 값이 숫자형태이면 '.숫자' 로 하면 오류 뜰 수 있기 때문에 '데이터프레임명[컬럼명]' 으로도 
# 결과 같게끔

0     test
1    test2
2    test3
Name: name, dtype: object

1. 절대경로
    절대적인 경로
    환경이 변하더라도 같은 위치를 지정
    예)파일 경로, 인터넷 url
2. 상대경로
    상대적인 경로
    환경에 따라 위치가 달라짐
    예) ./: 현재 파일의 경로
    ../: 상위 폴더로 이동
    폴더명/ : 해당하는 하위 폴더로 이동